$b-header-bg: $base-header-bg;
$b-header-h: 5.9375em;
$b-header-pt: 1em;

$b-logo__link-s: 3em;
$b-logo__link-pt: 0.3em;
$b-logo__link-c: #fff;
$b-logo__link-c_h: #aaa;

$b-top-menu__item: 1em;

$b-top-menu__link-s: 1.125em;
$b-top-menu__link-c: $b-logo__link-c;
$b-top-menu__link-c_h: $b-logo__link-c_h;
$b-top-menu__link-c_a: $base-blue-color;
$b-top-menu__link-pt: 2em;


$b-top-submenu__link-bg: $base-green-color;
$b-top-submenu__link-bg_h: $base-blue-color;
$b-top-submenu__link-c: #fff;

