$b-slider__head-bg: $base-blue-color;
$b-slider__head-pt: 0.2em;
$b-slider__head-pl: 2em;
$b-slider__head-c: #fff;
$b-slider__head-s: 1.875em;

$b-slider__text-b: 15%;
$b-slider__text-l: 5%;

$b-slider__link-c: #fff;

$b-slider-navi__list-l: 5%;
$b-slider-navi__list-b: 7%;

$b-slider-navi__item-mt: 0.5em;

$b-slider-navi__link-w: 0.8em;
$b-slider-navi__link-h: $b-slider-navi__link-w;

$b-slider-navi__next-t: 48%;
$b-slider-navi__next-s: 3em;
$b-slider-navi__next-f: $awesome-font;
$b-slider-navi__next-c: #aaa;