/* цвет шрифта */
$base-font-c: #8b8b8b;

/* цвет ссылки */
$base-link-c: #00D2F0;
$base-link-c_h: #0094AB;

/* фон хедера*/
$base-header-bg: #373737;

/* цвет фона и ссылок меню в хедере*/
$base-green-color: #70D858;
$base-green-color_h: #54A342;

$base-blue-color: #00d2f0;

$base-red-color: #FF6156;

/* цвет ссылки в слайдере*/

/* цвет заголовков */
$base-head-color: #3e3d44;



