.b-top-scroll{
	display: none;
	position: fixed;
	bottom: 5%;
	right: 3%;
	width: 3.125em;
	height: 3.125em;
	@include border-radius(50%, 50%, 50%, 50%);
	overflow: hidden;
	z-index: 10000;
}
	.b-top-scroll__link{
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		color: #fff;
		background: $base-blue-color;
		@include transition($time);

		&:hover{
			color: #fff;
			background: $base-green-color;
			@include transition($time);
		}

		.fa{
			position: absolute;
			top: 31%;
    		left: 35%;
		}
	}